body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f5e3;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
    background-size: cover;
}

h1, h2 {
    font-family: 'Georgia', serif;
    text-align: center;
    margin-bottom: 20px;
    color: #8b4513;
}

form {
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

#stats, #skills {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5dc;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f5e3;
}

#sortable {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sortable li {
    padding: 5px;
    background-color: #ddddacd6;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 2px;
    transition: background-color 0.3s;
    flex: 1 1 calc(50% - 10px); /* Her bir öğenin genişliğini %50 olarak ayarla ve aralarındaki boşluk */
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

#sortable li:hover {
    background-color: #cece91;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: #8b4513;
}

p span {
    font-weight: bold;
    color: #555;
}

form p {
    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #8b4513;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #603c1d;
}

/* Mobil uyumlu tasarım için medya sorguları */

/* @media (max-width: 768px) { */
    /* #sortable li { */
        /* flex: 1 1 100%; Küçük ekranlarda her bir öğe tam genişlikte olacak şekilde ayarla */
        /* margin: 5px 0; */
    /* } */

    /* p { */
        /* font-size: 1em; Küçük ekranlarda yazı boyutunu küçültme */
    /* } */
/* } */

@media (max-width: 900px) {
    #skillsyazı {
        font-size: 0.85em; /* Küçük ekranlarda başlık boyutunu küçültme */
    }


}
